{% extends "base.html" %}
<html>
  <meta name="keywords" content="Київ, театр, історія" />
    <meta
      name="description"
      content="1918, 1920, 1930, 1940, 1950, 1960, 1970"
    />
    <title>Про Театр</title>
</html>
{% load static %}{% block main %}
<h1 class="about-title">Про театр</h1>

<section class="timeline-section">
  <div class="timeline-items">
    <div class="timeline-dot"></div>

    <div class="timeline-content">
      <div class="timeline-date">1918</div>
      <h1 class="timeline-caption">Початок Шляхетного Мистецтва</h1>
      <p class="timeline-descrip">
        В 1918 році, на тлі світових перемін та революцій, народжується "Театр
        Титанів". Це стало важливою сторінкою в історії мистецтва, коли
        засновники театру віддавали перевагу високій культурі та виразному
        акторському мистецтву.
      </p>
    </div>
    <div class="about-img-left">
      <img src="{% static 'image1.png' %}" alt="зображення 1918" />
    </div>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>

    <div class="timeline-content">
      <div class="timeline-date">1920-30-ті</div>
      <h1 class="timeline-caption">Експерименти та Розквіт</h1>
      <p class="timeline-descrip">
        У цей період "Театр Титанів" відзначився експериментами в сценічному
        мистецтві, зо-крема використанням новітніх технологій та творчим
        підходом до режисури. Вистави ста-ли більш виразними та сміливими,
        вражаючи глядачів своєю авангардністю.
      </p>
    </div>

    <div class="about-img-right">
      <img src="{% static 'image7.png' %}" alt="зображення 1920" />
      <img src="{% static 'image6.png' %}" alt="зображення 1920" />
    </div>
    <p class="timeline-descrip">
      Тривала війна призвела до великих втрат серед акторів та персоналу театру.
      Деякі з них були призвані на фронт і не поверну-лися, інші залишились
      інвалідами або по-терпіли від військових дій. Це створило велику пустку в
      театральній спільноті.
    </p>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <div class="timeline-date">1940-ві</div>
      <h1 class="timeline-caption">Війна та Відродження</h1>
      <p class="timeline-descrip">
        Час Другої світової війни став великим ви-пробуванням для "Театру
        Титанів", але він ви-жив завдяки мужності та відданості своїх творців.
        Після війни театр зазнав відроджен-ня, привертаючи увагу нового
        покоління акторів і режисерів.
      </p>
    </div>
    <div class="about-img-left">
      <img src="{% static 'image2.png' %}" alt="зображення 1940" />
    </div>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <p class="timeline-date">1950-ті</p>
      <h1 class="timeline-caption">Післявоєнні часи</h1>
      <p class="timeline-descrip">
        Однак вже на початку 50-тих театр виявив надзвичайну відновлюючу силу та
        відданість мисте-цтву. Відновлення було важким, але дуже важливим етапом
        у його історії. Ця відданість та напо-легливість допомогли театру знову
        стати важли-вим культурним центром та символом відродже-ння в
        невпевнених післяво-єнних роках.
      </p>
    </div>
    <div class="about-img-right">
      <img src="{% static 'image8.png' %}" alt="зображення 1950" />
    </div>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <p class="timeline-date">1960-70-ті</p>
      <h1 class="timeline-caption">Радянський Період</h1>
      <p class="timeline-descrip">
        У цей період "Театр Титанів" був вплинутий радя-нською культурною
        політикою, але зумів зберегти свою непересічність та автентичність.
        Вистави вразили аудиторію глибокими сюжетами та вра-жаючими виконаннями
        акторів.
      </p>
    </div>
    <div class="about-img-left">
      <img src="{% static 'image3.png' %}" alt="зображення 1960" />
    </div>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <p class="timeline-date">1980-90-ті</p>
      <h1 class="timeline-caption">Гласність та Творча Свобода</h1>
      <p class="timeline-descrip">
        З кінця 1980-х років "Театр Титанів" знову став символом творчої свободи
        та гласності. Театра-льні вистави відзначилися відвертістю та
        актуа-льністю сюжетів, що відображали соціокультурні зміни та дискусії
        того часу. У творчості театру виділялися сміливі експерименти з формами
        і жанрами, що сприяли появі нових інноваційних підходів до театрального
        мистецтва та залученню молодого покоління артистів та глядачів.
      </p>
    </div>
    <div class="about-img-right">
      <img src="{% static 'image9.png' %}" alt="зображення 1980" />
    </div>
  </div>
  <div class="timeline-items">
    <div class="timeline-dot"></div>
    <div class="timeline-content">
      <p class="timeline-date">2000-нині:</p>
      <h1 class="timeline-caption">Сучасність та Світові Розшарування</h1>
      <p class="timeline-descrip">
        У сучасний період "Театр Титанів" продовжує диву-вати та надихати
        глядачів із своєю вишуканістю та сучасним підходом до театрального
        мистецтва. Він залишається символом культурної спадщини та прагне долати
        географічні межі, взаємодіючи з митцями та аудиторією з усього світу.
      </p>
    </div>
    <div class="about-img-left">
      <img src="{% static 'image4.png' %}" alt="зображення 2000" />
    </div>
  </div>
</section>

{% endblock %}
