{% extends "base.html" %}{% load static %}{% block main %}
<style>
  .progress-text:nth-child(2)::before {
    height: 1.5rem;
    width: 1.5rem;
    top: calc(50% - 2.3rem);
  }
</style>

<div class="tickets-title">Кохання в стилі бароко, або любов з неохоти</div>
<div class="tickets-header">
  <div class="tickets-info">
    <div class="tickets-date">Сб, 7 / 10 / 2023 | 18:00-20:00</div>
    <div class="tickets-genre">Комедія-фарс | Основна сцена | 2 дії</div>
    <div class="tickets-author">Ярослав Стельмах</div>
  </div>
  <div class="tickets-steps">
    <div class="progress-text">Вибір квитків</div>
    <div class="progress-text">Оформлення</div>
    <div class="progress-text">Оплата</div>
  </div>
</div>
<div class="order-tickets">
  <div class="order-form">
    <div class="text">Заповніть форму даними</div>
    <div class="order-form-content">
      <form method="get" action="{% url 'nextOrder' %}">
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ім'я</label>
        </div>

        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Прізвище</label>
        </div>

        <div class="group">
          <input type="email" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="group">
          <input type="tel" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Телефон</label>
        </div>

        <div class="order-form-buy">
          <button class="order-form-button-pay">Перейти до оплати</button>
          <div class="order-form-underline"></div>
        </div>
      </form>
    </div>
  </div>

  <div class="tickets-pay">
    <div class="text">Ваші квитки</div>
    <div class="your-tickets">
      <div class="tickets-paycost">
        <div class="text1">Партер, ряд 2, місце 11</div>
        <div class="text2">300₴</div>
      </div>
      <div class="tickets-paycost">
        <div class="text1">Партер, ряд 2, місце 12</div>
        <div class="text2">300₴</div>
      </div>
      <div class="your-tickets-line"></div>
      <div class="tickets-sum">
        <div class="text1">2 квитки</div>
        <div class="text2">600₴</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
