{% extends "base.html" %}{% load static %}{% block main %}

<style>
  .progress-text:nth-child(1)::before {
    height: 1.5rem;
    width: 1.5rem;
    top: calc(50% - 2.3rem);
  }
</style>

<h1 class="tickets-title">{{ theatre.title }}</h1>
<div class="tickets-header">
  <div class="tickets-info">
    <div class="tickets-date">
      {{ theatre.formatted_date }} | {{ theatre.formatted_time }}
    </div>
    <div class="tickets-genre">
      {{ theatre.genre }} | {{ theatre.typescene }} | {{ theatre.num_scene }}
      дії
    </div>
    <div class="tickets-author">{{ theatre.author }}</div>
  </div>
  <div class="tickets-steps">
    <div class="progress-text">Вибір квитків</div>
    <div class="progress-text">Оформлення</div>
    <div class="progress-text">Оплата</div>
  </div>
</div>
<div class="mainTickets">
  <div class="tickets-seats">
    <div class="seats-cost">
      <div class="group-cost">
        <div class="cost1"></div>
        <div class="cost-text">300₴</div>
      </div>
      <div class="group-cost">
        <div class="cost2"></div>
        <div class="cost-text">250₴</div>
      </div>
      <div class="group-cost">
        <div class="cost3"></div>
        <div class="cost-text">200₴</div>
      </div>
      <div class="group-cost">
        <div class="cost4"></div>
        <div class="cost-text">150₴</div>
      </div>
      <div class="group-cost">
        <div class="cost5"></div>
        <div class="cost-text">продано</div>
      </div>
    </div>
    <div class="cinema-row row-13">
      <div class="seat-number-left">13</div>
      <div class="seat" row="13" number="1" price="300"></div>
      <div class="seat" row="13" number="2" price="300"></div>
      <div class="seat" row="13" number="3" price="300"></div>
      <div class="seat" row="13" number="4" price="300"></div>
      <div class="seat" row="13" number="5" price="300"></div>
      <div class="seat" row="13" number="6" price="300"></div>
      <div class="seat" row="13" number="7" price="300"></div>
      <div class="seat" row="13" number="8" price="300"></div>
      <div class="seat" row="13" number="9" price="300"></div>
      <div class="seat" row="13" number="10" price="300"></div>
      <div class="seat" row="13" number="11" price="300"></div>
      <div class="seat" row="13" number="12" price="300"></div>
      <div class="seat" row="13" number="13" price="300"></div>
      <div class="seat" row="13" number="14" price="300"></div>
      <div class="seat" row="13" number="15" price="300"></div>
      <div class="seat-number-right">13</div>
    </div>

    <div class="cinema-row row-12">
      <div class="seat-number-left">12</div>
      <div class="seat" row="12" number="1" price="300"></div>
      <div class="seat" row="12" number="2" price="300"></div>
      <div class="seat" row="12" number="3" price="300"></div>
      <div class="seat" row="12" number="4" price="300"></div>
      <div class="seat" row="12" number="5" price="300"></div>
      <div class="seat" row="12" number="6" price="300"></div>
      <div class="seat" row="12" number="7" price="300"></div>
      <div class="seat" row="12" number="8" price="300"></div>
      <div class="seat" row="12" number="9" price="300"></div>
      <div class="seat" row="12" number="10" price="300"></div>
      <div class="seat" row="12" number="11" price="300"></div>
      <div class="seat" row="12" number="12" price="300"></div>
      <div class="seat" row="12" number="13" price="300"></div>
      <div class="seat" row="12" number="14" price="300"></div>
      <div class="seat" row="12" number="15" price="300"></div>
      <div class="seat-number-right">12</div>
    </div>

    <div class="cinema-row row-11">
      <div class="seat-number-left">11</div>
      <div class="seat" row="11" number="1" price="300"></div>
      <div class="seat" row="11" number="2" price="300"></div>
      <div class="seat" row="11" number="3" price="300"></div>
      <div class="seat" row="11" number="4" price="300"></div>
      <div class="seat" row="11" number="5" price="300"></div>
      <div class="seat" row="11" number="6" price="300"></div>
      <div class="seat" row="11" number="7" price="300"></div>
      <div class="seat" row="11" number="8" price="300"></div>
      <div class="seat" row="11" number="9" price="300"></div>
      <div class="seat" row="11" number="10" price="300"></div>
      <div class="seat" row="11" number="11" price="300"></div>
      <div class="seat" row="11" number="12" price="300"></div>
      <div class="seat" row="11" number="13" price="300"></div>
      <div class="seat" row="11" number="14" price="300"></div>
      <div class="seat" row="11" number="15" price="300"></div>
      <div class="seat-number-right">11</div>
    </div>

    <div class="cinema-row row-10">
      <div class="seat-number-left">10</div>
      <div class="seat" row="10" number="1" price="300"></div>
      <div class="seat" row="10" number="2" price="300"></div>
      <div class="seat" row="10" number="3" price="300"></div>
      <div class="seat" row="10" number="4" price="300"></div>
      <div class="seat" row="10" number="5" price="300"></div>
      <div class="seat" row="10" number="6" price="300"></div>
      <div class="seat" row="10" number="7" price="300"></div>
      <div class="seat" row="10" number="8" price="300"></div>
      <div class="seat" row="10" number="9" price="300"></div>
      <div class="seat" row="10" number="10" price="300"></div>
      <div class="seat" row="10" number="11" price="300"></div>
      <div class="seat" row="10" number="12" price="300"></div>
      <div class="seat" row="10" number="13" price="300"></div>
      <div class="seat" row="10" number="14" price="300"></div>
      <div class="seat" row="10" number="15" price="300"></div>
      <div class="seat-number-right">10</div>
    </div>

    <div class="cinema-row row-9">
      <div class="seat-number-left">9</div>
      <div class="seat" row="9" number="1" price="250"></div>
      <div class="seat" row="9" number="2" price="250"></div>
      <div class="seat" row="9" number="3" price="250"></div>
      <div class="seat" row="9" number="4" price="250"></div>
      <div class="seat" row="9" number="5" price="250"></div>
      <div class="seat" row="9" number="6" price="250"></div>
      <div class="seat" row="9" number="7" price="250"></div>
      <div class="seat" row="9" number="8" price="250"></div>
      <div class="seat" row="9" number="9" price="250"></div>
      <div class="seat" row="9" number="10" price="250"></div>
      <div class="seat" row="9" number="11" price="250"></div>
      <div class="seat" row="9" number="12" price="250"></div>
      <div class="seat" row="9" number="13" price="250"></div>
      <div class="seat" row="9" number="14" price="250"></div>
      <div class="seat" row="9" number="15" price="250"></div>
      <div class="seat-number-right">9</div>
    </div>

    <div class="cinema-row row-8">
      <div class="seat-number-left">8</div>
      <div class="seat" row="8" number="1" price="250"></div>
      <div class="seat" row="8" number="2" price="250"></div>
      <div class="seat" row="8" number="3" price="250"></div>
      <div class="seat" row="8" number="4" price="250"></div>
      <div class="seat" row="8" number="5" price="250"></div>
      <div class="seat" row="8" number="6" price="250"></div>
      <div class="seat" row="8" number="7" price="250"></div>
      <div class="seat" row="8" number="8" price="250"></div>
      <div class="seat" row="8" number="9" price="250"></div>
      <div class="seat" row="8" number="10" price="250"></div>
      <div class="seat" row="8" number="11" price="250"></div>
      <div class="seat" row="8" number="12" price="250"></div>
      <div class="seat" row="8" number="13" price="250"></div>
      <div class="seat" row="8" number="14" price="250"></div>
      <div class="seat" row="8" number="15" price="250"></div>
      <div class="seat-number-right">8</div>
    </div>

    <div class="cinema-row row-7">
      <div class="seat-number-left">7</div>
      <div class="seat" row="7" number="1" price="250"></div>
      <div class="seat" row="7" number="2" price="250"></div>
      <div class="seat" row="7" number="3" price="250"></div>
      <div class="seat" row="7" number="4" price="250"></div>
      <div class="seat" row="7" number="5" price="250"></div>
      <div class="seat" row="7" number="6" price="250"></div>
      <div class="seat" row="7" number="7" price="250"></div>
      <div class="seat" row="7" number="8" price="250"></div>
      <div class="seat" row="7" number="9" price="250"></div>
      <div class="seat" row="7" number="10" price="250"></div>
      <div class="seat" row="7" number="11" price="250"></div>
      <div class="seat" row="7" number="12" price="250"></div>
      <div class="seat" row="7" number="13" price="250"></div>
      <div class="seat" row="7" number="14" price="250"></div>
      <div class="seat" row="7" number="15" price="250"></div>
      <div class="seat-number-right">7</div>
    </div>

    <div class="cinema-row row-6">
      <div class="seat-number-left">6</div>
      <div class="seat" row="6" number="1" price="250"></div>
      <div class="seat" row="6" number="2" price="250"></div>
      <div class="seat" row="6" number="3" price="250"></div>
      <div class="seat" row="6" number="4" price="250"></div>
      <div class="seat" row="6" number="5" price="250"></div>
      <div class="seat" row="6" number="6" price="250"></div>
      <div class="seat" row="6" number="7" price="250"></div>
      <div class="seat" row="6" number="8" price="250"></div>
      <div class="seat" row="6" number="9" price="250"></div>
      <div class="seat" row="6" number="10" price="250"></div>
      <div class="seat" row="6" number="11" price="250"></div>
      <div class="seat" row="6" number="12" price="250"></div>
      <div class="seat" row="6" number="13" price="250"></div>
      <div class="seat" row="6" number="14" price="250"></div>
      <div class="seat" row="6" number="15" price="250"></div>
      <div class="seat-number-right">6</div>
    </div>

    <div class="cinema-row row-5">
      <div class="seat-number-left">5</div>
      <div class="seat" row="5" number="1" price="250"></div>
      <div class="seat" row="5" number="2" price="250"></div>
      <div class="seat" row="5" number="3" price="250"></div>
      <div class="seat" row="5" number="4" price="250"></div>
      <div class="seat" row="5" number="5" price="250"></div>
      <div class="seat" row="5" number="6" price="250"></div>
      <div class="seat" row="5" number="7" price="250"></div>
      <div class="seat" row="5" number="8" price="250"></div>
      <div class="seat" row="5" number="9" price="250"></div>
      <div class="seat" row="5" number="10" price="250"></div>
      <div class="seat" row="5" number="11" price="250"></div>
      <div class="seat" row="5" number="12" price="250"></div>
      <div class="seat" row="5" number="13" price="250"></div>
      <div class="seat" row="5" number="14" price="250"></div>
      <div class="seat" row="5" number="15" price="250"></div>

      <div class="seat-number-right">5</div>
    </div>
    <div class="cinema-row row-4">
      <div class="seat-number-left">4</div>
      <div class="seat" row="4" number="1" price="200"></div>
      <div class="seat" row="4" number="2" price="200"></div>
      <div class="seat" row="4" number="3" price="200"></div>
      <div class="seat" row="4" number="4" price="200"></div>
      <div class="seat" row="4" number="5" price="200"></div>
      <div class="seat" row="4" number="6" price="200"></div>
      <div class="seat" row="4" number="7" price="200"></div>
      <div class="seat" row="4" number="8" price="200"></div>
      <div class="seat occupied" row="4" number="9" price="200"></div>
      <div class="seat occupied" row="4" number="10" price="200"></div>
      <div class="seat" row="4" number="11" price="200"></div>
      <div class="seat" row="4" number="12" price="200"></div>
      <div class="seat" row="4" number="13" price="200"></div>
      <div class="seat" row="4" number="14" price="200"></div>
      <div class="seat" row="4" number="15" price="200"></div>
      <div class="seat" row="4" number="16" price="200"></div>
      <div class="seat" row="4" number="17" price="200"></div>

      <div class="seat-number-right">4</div>
    </div>

    <div class="cinema-row row-3">
      <div class="seat-number-left">3</div>
      <div class="seat" row="3" number="1" price="200"></div>
      <div class="seat" row="3" number="2" price="200"></div>
      <div class="seat" row="3" number="3" price="200"></div>
      <div class="seat" row="3" number="4" price="200"></div>
      <div class="seat" row="3" number="5" price="200"></div>
      <div class="seat" row="3" number="6" price="200"></div>
      <div class="seat" row="3" number="7" price="200"></div>
      <div class="seat" row="3" number="8" price="200"></div>
      <div class="seat" row="3" number="9" price="200"></div>
      <div class="seat" row="3" number="10" price="200"></div>
      <div class="seat" row="3" number="11" price="200"></div>
      <div class="seat" row="3" number="12" price="200"></div>
      <div class="seat" row="3" number="13" price="200"></div>
      <div class="seat" row="3" number="14" price="200"></div>
      <div class="seat" row="3" number="15" price="200"></div>
      <div class="seat" row="3" number="16" price="200"></div>
      <div class="seat" row="3" number="17" price="200"></div>

      <div class="seat-number-right">3</div>
    </div>
    <div class="cinema-row row-2">
      <div class="seat-number-left">2</div>
      <div class="seat" row="2" number="1" price="150"></div>
      <div class="seat" row="2" number="2" price="150"></div>
      <div class="seat occupied" row="2" number="3" price="150"></div>
      <div class="seat" row="2" number="4" price="150"></div>
      <div class="seat" row="2" number="5" price="150"></div>
      <div class="seat" row="2" number="6" price="150"></div>
      <div class="seat" row="2" number="7" price="150"></div>
      <div class="seat" row="2" number="8" price="150"></div>
      <div class="seat" row="2" number="9" price="150"></div>
      <div class="seat" row="2" number="10" price="150"></div>
      <div class="seat" row="2" number="11" price="150"></div>
      <div class="seat" row="2" number="12" price="150"></div>
      <div class="seat" row="2" number="13" price="150"></div>
      <div class="seat" row="2" number="14" price="150"></div>
      <div class="seat" row="2" number="15" price="150"></div>
      <div class="seat" row="2" number="16" price="150"></div>
      <div class="seat" row="2" number="17" price="150"></div>
      <div class="seat" row="2" number="18" price="150"></div>
      <div class="seat" row="2" number="19" price="150"></div>
      <div class="seat" row="2" number="20" price="150"></div>
      <div class="seat" row="2" number="21" price="150"></div>

      <div class="seat-number-right">2</div>
    </div>

    <div class="cinema-row row-1">
      <div class="seat-number-left">1</div>
      <div class="seat" row="1" number="1" price="150"></div>
      <div class="seat" row="1" number="2" price="150"></div>
      <div class="seat" row="1" number="3" price="150"></div>
      <div class="seat" row="1" number="4" price="150"></div>
      <div class="seat" row="1" number="5" price="150"></div>
      <div class="seat" row="1" number="6" price="150"></div>
      <div class="seat" row="1" number="7" price="150"></div>
      <div class="seat" row="1" number="8" price="150"></div>
      <div class="seat" row="1" number="9" price="150"></div>
      <div class="seat occupied" row="1" number="10" price="150"></div>
      <div class="seat" row="1" number="11" price="150"></div>
      <div class="seat" row="1" number="12" price="150"></div>
      <div class="seat" row="1" number="13" price="150"></div>
      <div class="seat" row="1" number="14" price="150"></div>
      <div class="seat" row="1" number="15" price="150"></div>
      <div class="seat" row="1" number="16" price="150"></div>
      <div class="seat" row="1" number="17" price="150"></div>
      <div class="seat" row="1" number="18" price="150"></div>
      <div class="seat" row="1" number="19" price="150"></div>
      <div class="seat" row="1" number="20" price="150"></div>
      <div class="seat" row="1" number="21" price="150"></div>
      <div class="seat-number-right">1</div>
    </div>
    <div class="tickets-scene">Сцена</div>
  </div>
  <form
    class="your-tickets-form"
    action="{% url 'placingOrder' %}"
    method="get"
  >
    <div style="display: none" class="tickets-pay">
      <div class="text">Ваші квитки</div>
      <div class="your-tickets">
        <div class="your-tickets-line"></div>
        <div class="tickets-sum">
          <div class="text1"><span id="tickets-count">2</span> квитки</div>
          <div class="text2"><span id="result-sum">600</span>₴</div>
        </div>
      </div>

      <button type="submit" class="tickets-button">Оформити замовлення</button>
      <div class="order-underline"></div>
    </div>
  </form>
</div>

<script>
  function handleSeatClick(event) {
    const clickedSeat = event.target;

    if (!clickedSeat.classList.contains("occupied")) {
      if (clickedSeat.classList.contains("selected")) {
        clickedSeat.classList.remove("selected");
      } else {
        clickedSeat.classList.add("selected");
      }

      updateSelectedTickets();
    }
  }

  function updateSelectedTickets() {
    const selectedSeats = document.querySelectorAll(".seat.selected");
    const ticketsContainer = document.querySelector(".your-tickets");
    const ticketsCountElement = document.getElementById("tickets-count");
    const resultSumElement = document.getElementById("result-sum");

    ticketsContainer.innerHTML = "";

    if (selectedSeats.length > 0) {
      document.querySelector(".tickets-pay").style.display = "flex";

      let totalPrice = 0;

      selectedSeats.forEach(function (seat) {
        const row = seat.getAttribute("row");
        const number = seat.getAttribute("number");
        const price = seat.getAttribute("price");

        const ticketDiv = document.createElement("div");
        ticketDiv.classList.add("tickets-paycost");
        ticketDiv.innerHTML = `
          <div class="text1">Партер, ряд ${row}, місце ${number}</div>
          <div class="text2">${price}₴</div>
        `;

        ticketsContainer.appendChild(ticketDiv);

        totalPrice += parseInt(price);
      });

      ticketsCountElement.textContent = selectedSeats.length;
      resultSumElement.textContent = totalPrice;
    } else {
      document.querySelector(".tickets-pay").style.display = "none";
      ticketsCountElement.textContent = "0";
      resultSumElement.textContent = "0";
    }
  }

  document.querySelectorAll(".seat").forEach(function (seat) {
    seat.addEventListener("click", handleSeatClick);
  });
</script>
{% endblock %}
